/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/home/home.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
/* src/app/home/home.module.css */

.home_homepage__oT68u {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  padding: 2rem;
}

.home_profileContainer__zV3SD {
  display: flex;
  justify-content: center; /* Center profile picture horizontally */
  margin-bottom: 2rem; /* Space below profile picture */
}

.home_profilePic__r15_C {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}

.home_paragraph__j7vmO {
  max-width: 400px; /* Restrict paragraph width for a column effect */
  text-align: justify; /* Justify text like in a news article */
  line-height: 1.6; /* Improve readability */
  margin-bottom: 1rem;
}

