/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Light gray background */
  color: #333333; /* Primary text color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333; /* Heading color */
}

a {
  color: #0070f3; /* Link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1rem; /* Standard font size for paragraphs */
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Add any additional styling you need */

/* Profile picture */
.profile-pic {
  width: 150px; /* Set width to 150px */
  height: 150px; /* Set height to match width for a perfect circle */
  border-radius: 50%; /* Circular shape */
  object-fit: cover; /* Ensure image fits the circle */
  border: 3px solid #ddd; /* Optional border around the profile picture */
  margin: 1rem 0; /* Space around the profile picture */
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/layout.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.layout_container__Tovb9 {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar width and main content */
  grid-gap: 1rem;
  gap: 1rem;
  min-height: 100vh; /* Full viewport height */
}

.layout_sidebar__XCoJV {
  background: #f4f4f4; /* Light gray background for the sidebar */
  padding: 1rem;
  border-right: 1px solid #ddd; /* Light gray border */
}

.layout_sidebar__XCoJV h2 {
  margin-top: 0;
}

.layout_sidebar__XCoJV nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.layout_sidebar__XCoJV nav ul li {
  margin-bottom: 1rem; /* Space between items */
}

.layout_sidebar__XCoJV nav ul li a {
  text-decoration: none;
  color: #333; /* Change link color to dark gray */
  font-weight: bold;
  display: block; /* Ensure links are block-level elements */
  transition: transform 0.3s ease, font-size 0.3s ease; /* Add smooth transition */
}

.layout_sidebar__XCoJV nav ul li a:hover {
  text-decoration: underline;
  transform: scale(1.1); /* Scale up the element by 10% on hover */
  font-size: 1.2rem; /* Increase font size on hover */
}

.layout_sidebar__XCoJV nav ul li a.layout_active__Zv84k {
  color: #71b69c; /* Highlight color for active link */
  font-size: 2rem; /* Increase font size for active link */
  font-weight: bold; /* Ensure font weight is bold for active link */
}

.layout_mainContent__LZaIE {
  padding: 1rem;
}

