/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/about/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about_container__Ucmgi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust if needed */
  text-align: center; /* Center the text horizontally */
  padding: 20px;
  box-sizing: border-box;
}

.about_terminal__ScTMp {
  font-family: "JetBrains Mono", monospace;
  background: #1e1e1e; /* Dark background for a terminal effect */
  color: #ffffff; /* White text color */
  border: 1px solid #333; /* Border to mimic terminal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* Adjust based on your design needs */
  margin: auto;
}

.about_typingWrapper__WlvnV {
  white-space: pre; /* Maintain spacing and line breaks */
  overflow: hidden;
  font-size: 1.2em; /* Adjust the font size as needed */
}

.about_cursor__5b4oR {
  display: inline-block;
  background-color: #00ff00; /* Green cursor for terminal effect */
  width: 10px;
  height: 1em;
  margin-left: 2px;
  animation: about_blink__MsGVz 1s step-start infinite;
}

@keyframes about_blink__MsGVz {
  50% {
    background-color: transparent;
  }
}

